<div>
	
	<div class="row" ng-init="init()" ng-controller="HomepageController">
  
        <div class="col s12 m12">
          <div class="card-panel">            
              <span class="card-title">Ram</span>
              	<div class="row">
                  <div class="col s12">
                    <div class="col s12 m3"><div id="vCPUschart"></div></div>
                    <div class="col s12 m3"><div id="vCPUschart2"></div></div>  
                    <div class="col s12 m3"><div id="vCPUschart3"></div></div>  
                    <div class="col s12 m3"><div id="vCPUschart4"></div></div>  
                  </div>               
                </div> 
          </div>
        </div>


        <!-- <div class="col s12 m6">
         <div class="card-panel">            
             <span class="card-title">vCPU's</span>
                <div id="ramchart"></div>         
         </div>
               </div> -->

        <div class="col s12 m6">
        	<div class="card-panel">
        		<span class="card-title">Que</span>
        		<div id="line_chart"></div>
        	</div>
        </div>




      </div>
      <!-- <div id="chart_div" ></div> -->

</div>