<div id="login-page" class="row" ng-controller="LoginController">
  <div class="container">
    <div class="col s12 z-depth-6 card-panel">
      <form class="login-form">

        <div class="row">
          <div class="input-field col s12 center">
            <img src="media/sonata.jpg" alt="" class="responsive-img valign profile-image-login">
          </div>
        </div>
        <div class="row center">
        Please login using your github credentials.
        <br/>
          <div class="red-text" ng-show="failedMessageVisibility">Login Failed</div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-social-person-outline prefix"></i>
            <input class="validate" id="email" type="text" ng-model="user_email">
            <label for="email" data-error="wrong" data-success="right" class="center-align">Username</label>
          </div>
        </div>
        <div class="row margin">
          <div class="input-field col s12">
            <i class="mdi-action-lock-outline prefix"></i>
            <input id="password" type="password" ng-model="password">
            <label for="password">Password</label>
          </div>
        </div>
    
        <div class="row">
          <div class="input-field col s4 right">
            <a href="javascript:void(0)" ng-click="submitlogin()"  class="btn waves-effect waves-light col s12">Login</a>
          </div>
        </div>
        

      </form>
    </div>
  </div>
</div>
<style>
main{padding:0!important;}
</style>