     <ul id="slide-out" class="side-nav fixed">
      <li class="logo"><img src="media/sonata.jpg"/></li>
      <li class="no-padding">
        <a class="collapsible-header waves-effect waves-teal" href="#/home"><i class="fa fa-home"></i>Dashboard</a>
      </li>
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal"><i class="fa fa-cogs"></i> Settings</a>
            <div class="collapsible-body">
              <ul>
                <li class="waves-effect waves-teal lighten-5"><a href="#/user/profile" >User Profile</a></li>
                <li class="waves-effect waves-teal"><a href="#/user/settings">User Settings</a></li>
              </ul>
            </div>
          </li>
        </ul>
        </li>
        <li class="no-padding">
         <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal"><i class="fa fa-list"></i> Catalogue</a>
            <div class="collapsible-body">
              <ul>
                <li class="waves-effect waves-teal"><a href="#/catalogue/allServices">Services</a></li>
                <li class="waves-effect waves-teal"><a href="#/catalogue/packages">Packages</a></li>
              </ul>
            </div>
          </li>
          </ul>         
        
      </li><!-- 
      <li class="no-padding">
         <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal"><i class="fa fa-object-ungroup"></i> Instances</a>
            <div class="collapsible-body">
              <ul>
                <li class="waves-effect waves-teal"><a href="#/instances/userServices">User Services</a></li>
              </ul>
            </div>
          </li>
          </ul>         
        
      </li> -->
      <li class="no-padding">
         <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header waves-effect waves-teal"><i class="fa fa-area-chart"></i> Monitoring</a>
            <div class="collapsible-body">
              <ul>
                <li class="waves-effect waves-teal"><a href="#/monitoring/platform">Service Platform</a></li>
                <li class="waves-effect waves-teal"><a href="#/monitoring/vnfs">VNFs</a></li>
                
              </ul>
            </div>
          </li>
          </ul>         
        
      </li>
    </ul>


