  <div class="row" ng-controller="AllServicesController">
        <div class="col s12">
          <div class="card-panel">
            <div class="card-content" ng-init="getServices()">
            <div class="row">
            <div class="input-field col s3">
              <input class="form-control" id="searchbar" ng-model="expression" placeholder="search..." />
            </div>
            <div class="col s2 push-s7">
              <a class="waves-effect waves-light btn" ng-class="remove_class_btn">Remove</a>
            </div>
            </div>
         <table class="striped responsive-table">
        <thead>
          <tr>
              <th data-field="checkbox"></th>
              <th data-field="name">Name</th>
              <th data-field="version">Version</th>
              <th data-field="description">Description</th>
              <th data-field="situation">Info</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="service in services | filter:expression">
             <td> <input type="checkbox" class="filled-in" id="service_{{service.id}}" ng-model="service.checked" ng-click="remakeChecked(service)" /><label for="service_{{service.id}}"></label></td>
              <td>{{service.name}}</td>
              <td>{{service.version}}</td>
              <td>{{service.description}}</td>
              <td><i ng-click="openServiceInfo(service)" class="Small material-icons cursored">info_outline</i></td> 
          </tr>
         

          
        </tbody>
      </table>


          </div>
        </div>
      </div>
        <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
             <h4>{{modal.content.title}}</h4>
                <div class="col s12">
                  <div class="card-panel">
                  
                    <strong>Description</strong>: {{modal.content.service.description}}<br/>
                    <strong>ID</strong>: {{modal.content.service.id}}<br/>
                    <strong>Author</strong>: {{modal.content.service.author}}<br/>
                    <strong>Created_at</strong>: {{modal.content.service.created_at | date}}<br/>
                    <strong>Updated_at</strong>: {{modal.content.service.updated_at | date}}<br/>


                  </div>
                </div>
          </div>
          <div class="modal-footer">
            <a href="javascript:void(0)" ng-click="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
          </div>
        </div>



</div>




  <!-- Modal Structure -->


