  <div class="row" ng-controller="UserServicesController">
        <div class="col s12">
          <div class="card-panel">
            <div class="card-content">
          <div class="row">
            <div class="input-field col s3">
              <input class="form-control" id="searchbar" ng-model="expression" placeholder="search..." />
            </div>
            <div class="col s2 push-s7">
              <a class="waves-effect waves-light btn" ng-class="remove_class_btn">Remove</a>
            </div>
          </div>
         <table class="striped responsive-table">
        <thead>
          <tr>
              <th data-field="checkbox"></th>
              <th data-field="name">Name</th>
              <th data-field="version">Version</th>
              <th data-field="description">Description</th>
              <th data-field="status">Status</th>
              <th data-field="situation">Graphs</th>
              
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="service in userServices | filter:expression">
             <td> <input type="checkbox" class="filled-in" id="service_{{service.id}}" ng-model="service.checked" ng-click="remakeChecked(service)" /><label for="service_{{service.id}}"></label></td>
              <td>{{service.name}}</td>
              <td>{{service.version}}</td>
              <td>{{service.description}}</td>
              <td>{{service.status}}</td>
              <td><i ng-click="openServiceGraphs(service)" class="Small material-icons cursored">insert_chart</i></td>
          </tr>
         

          
        </tbody>
      </table>


          </div>
        </div>
      </div>
        <div id="modal1" class="modal modal-fixed-footer">
          <div class="modal-content">
             <h4>{{modal.content.title}}</h4>
                <div class="col s6 m6" ng-controller="LineChartController" ng-init="getLineGraph(modal.content.service)">
                  <div class="card-panel">
                    <span class="card-title">Que</span>
                    <div id="line_chart"></div>
                  </div>
                </div>
          </div>
          <div class="modal-footer">
            <a href="javascript:void(0)" ng-click="closeModal()" class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a>
          </div>
        </div>



</div>




  <!-- Modal Structure -->


