<div>
  
  <div class="row" ng-init="init()" ng-controller="OverviewController">

        <div class="col s12 m6">
          <div class="card-panel">            
              <span class="card-title">Ram</span>
                <div id="ramchart"></div>            
          </div>
        </div>


        <div class="col s12 m6">
          <div class="card-panel">            
              <span class="card-title">vCPU's</span>
                <div id="vCPUschart"></div>            
          </div>
        </div>

        <div class="col s12 m6">
          <div class="card-panel">
            <span class="card-title">Que</span>
            <div id="line_chart"></div>
          </div>
        </div>




      </div>
      <!-- <div id="chart_div" ></div> -->

</div>