<div class="row" ng-init="init()" ng-controller="ContainerMonitoring">
		<div class="col s12">
			<div class="card-panel">
				<strong>Exported Instance:</strong><a href="javascript:void(0)" class="cursored" ng-click="changeHash('/vm/'+container.exported_instance)">{{container.exported_instance}}</a><br/>
				<strong>Image Name:</strong>{{container.image_name}}<br/>
				<strong>Id:</strong>{{container.id}}<br/>
				
				
			</div>
		</div>
   		<div class="col s12">
      <div class="col s12">
        <div class="card-panel">
          <div class="row">
            <div class="center-align">
              
              <div id="cnt_vCPUschart" class="col s6 push-s4"></div>
              
            </div>
          </div>
          
        </div>
      </div>
   		
    	<div class="col s6">
          <div class="card-panel">
            <span class="card-title">CPUs</span>
            <div id="cnt_cpu_chart"></div>
          </div>
        </div>
        <div class="col s6">
          <div class="card-panel">
            <span class="card-title">MEMORY</span>
            <div id="cnt_mem_chart"></div>
          </div>
        </div>
        <div class="col s6">
          <div class="card-panel">
            <span class="card-title">Rx/Tx</span>
            <div id="cnt_rx_tx_chart"></div>
          </div>
        </div>
        <div class="col s6">
          <div class="card-panel">
            <span class="card-title">Disk</span>
            <div id="cnt_disk_chart"></div>
          </div>
        </div>

        <div class="row">


         <div class="col s12" ng-show="logs.length">
          <div class="card-panel">
            <h5 class="center-align">Logs</h5>
            <div class="row" style="overflow: hidden;">
         <table class="bordered responsive-table">
            <thead>
                <tr>
                  <th style="min-width: 250px" data-field="id">Date/Time</th>
                  <th data-field="created">Message</th>

                </tr>
            </thead>

            <tbody>
              <tr ng-repeat="log in logs">
                <td>{{log.message.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                <td>{{log.message.message}}</td>
              </tr>
            </tbody>
          </table>
          </div>
          </div>
      </div>
      </div>



</div>