<div class="row" ng-init="init()" ng-controller="VnfMonitoring">
		<div class="col s12">
			<div class="card-panel">
				<strong>VNF Name:</strong>{{vnf.exported_instance}}<br/>
				<strong>Instance:</strong>{{vnf.instance}}<br/>
				<strong>Group:</strong>{{vnf.group}}<br/>
				<strong>ID:</strong>{{vnf.id}}<br/>

			</div>
		</div>
   		<div class="col s12">
   			<div class="card-panel">
          <div class="row">
            <div class="center-align">
              
              <div id="vCPUschart" class="col s6 push-s4"></div>
              
            </div>
          </div>
   				
   			</div>
   		</div>
    	<div class="col s6">
          <div class="card-panel">
            <span class="card-title">CPUs</span>
            <div id="cpu_chart"></div>
          </div>
        </div>
        <div class="col s6">
          <div class="card-panel">
            <span class="card-title">MEMORY</span>
            <div id="mem_chart"></div>
          </div>
        </div>
        <div class="col s6">
          <div class="card-panel">
            <span class="card-title">Rx/Tx</span>
            <div id="rx_tx_chart"></div>
          </div>
        </div>
        <div class="col s6">
          <div class="card-panel">
            <span class="card-title">Disk</span>
            <div id="disk_chart"></div>
          </div>
        </div>

        <div class="col s12" ng-show="containers.length">
        	<div class="card-panel">
        		<h5 class="center-align">Containers</h5>
   			 <table class="bordered">
		        <thead>
		          	<tr>
		              <th data-field="id">ID</th>
		              <th data-field="id">Image Name</th>
		              <th data-field="status">Status</th>
		          	</tr>
		        </thead>

		        <tbody>
		          <tr ng-repeat="container in containers">
		            <td>{{container.metric.id}}</td>
		            <td>{{container.metric.image_name}}</td>
		            <td><i ng-click="changeHash('/container/'+container.metric.id)" class="Small material-icons cursored">insert_chart</i></td>
		          </tr>
		        </tbody>
      		</table>
      		</div>
   		</div>
</div>